<add-image add="$ctrl.add"></add-image>

<div class="view-button-container">
  <div class="view-button" ng-class="{selected: $ctrl.view=='thumb'}" ng-click="$ctrl.view='thumb'">Thumbnail</div>
  <div class="view-button" ng-class="{selected: $ctrl.view=='full'}" ng-click="$ctrl.view='full'">Full Size</div>
  <div class="view-button" ng-class="{selected: $ctrl.view=='detail'}" ng-click="$ctrl.view='detail'">Text List</div>
</div>

<div class="view-container">
  <div ng-show="$ctrl.view=='thumb'" class="thumb-view"  ng-click="$ctrl.view='full'">
    <div ng-repeat="image in $ctrl.imageList" class="thumb-container">
      <image-thumb image="image" remove="$ctrl.remove"></image-thumb>
    </div>
  </div>

  <div ng-show="$ctrl.view=='full'" class="full">
    <div ng-repeat="image in $ctrl.imageList" class="full-container">
      <image-full image="image" remove="$ctrl.remove"></image-full>
    </div>
  </div>

  <div ng-show="$ctrl.view=='detail'">
    <div ng-repeat="image in $ctrl.imageList" class="detail-container">
      <image-detail image="image" remove="$ctrl.remove"></image-detail>
    </div>
  </div>
</div>