.thumb-card {
  text-align: left;
}

.image-title {
  max-width: 95%;
  font-size: 1.5rem;
}

.thumb {
  border: 5px solid #333;
  max-width: 95%;
}

image-thumb {
  div {
    display: inline-block;

  }
}